html {
    background-color: white;
    padding: 30px 0px 20px 0px;
    width: 100%;
  }
  #body {
    background-color: #ededed;
    border-radius: 10px;
    padding: 0px 0px 40px 0px;
    width: 99.8%;
  }
  header {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family:'Arial', Times, serif;
    padding: 50px 0px 0px 0px;
  }
  #subtitle{ 
    font-family:'Arial', Times, serif;
    text-align: center;
    padding: 10px 0px 5px 0px;
  }
  #img-div{
    padding: 0px 0px 20px 20px;
    background-color: white;
    width: 95%;
    margin: 0 auto;
  }
  img{
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
  }
  #img-caption {
    font-family:'Arial', Times, serif;
    text-align: center;
  }
  #life-list {
    width: 50%;
    margin: 0 auto;
  }
  h4 {
    font-family:'Arial', Times, serif;
    text-align: center;
    font-size: 20px;
    padding: 40px 0px 0px 0px;
  }
  ul {
    font-family:'Arial', Times, serif;
    text-align: justify;
    width: 90%;
    padding: 30px 0px 20px 0px;
    margin: 0 auto;
  }
  .quote{
    font-family:'Arial', Times, serif;
    text-align: justify;
    width: 45%;
    margin: 0 auto;
    padding: 30px 0px 0px 0px;
  }
  footer{
    font-family:'Arial', Times, serif;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    padding: 50px 0px 0px 0px;
  }